<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<style>

					 body{ padding-top:50px;
					 
					 			background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

					 /* Full height */
					 height: 100%; 

					 /* Center and scale the image nicely */
					 background-position: center;
					 background-repeat: no-repeat;
					 background-size: cover;
					 }
				.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
				.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
				.btn-login{background: #DE6262; color:#fff; font-weight:600;}
				.img-thumbnail{margin-top:50%;}
				.client{background-color:#173B0B;}
					 
				</style>
		     <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
    </head>
    <body>
    		{% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
